
.boxed {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  word-wrap: normal;
  border: 1px black;
  white-space: normal;
  word-break: break-all;
  font-family: "Lato";
	color: black;

}

.title_Style {
	font-family: "Lato";
	color: black;
	line-height: 1.5em;
	margin-left:15px;
}

.subtitle_Style {
	font-family: "Lato";
	color: black;
	margin-bottom:1.5em;
	margin-left:15px;
}


.boxtext {
	font-family: "Noto Sans";
	color: black;
	margin-left:15px;
	margin-right:15px;
}



/* Styles for selectize menus */

#large .selectize-input {
  line-height: 40px;
}

#large .selectize-dropdown {
  line-height: 30px;

}

.main-header .logo {
  padding: 0px 15px;
  text-align: left;
}

/* ------------------------- SHINYDASHBOARD THEME --------------------------- */


/* body */
.content-wrapper, .right-side {
background-color: #FFFFFF;
