

.title_Style {
	font-family: "Lato";
	color: black;
	line-height: 1.5em;
	margin-left:15px;
}

.subtitle_Style {
	font-family: "Lato";
	color: black;
	margin-bottom:1.5em;
	margin-left:15px;
}


.boxtext {
	font-family: "Noto Sans";
	color: black;
	margin-left:10px;
	margin-right:15px;
}



/* Styles for selectize menus */

#large .selectize-input {
  line-height: 40px;
}

#large .selectize-dropdown {
  line-height: 30px;

}
